{
  "presets": [
    "env",
    "flow"
  ],
  "plugins": [
    "transform-class-properties"
  ],
  "env": {
    "production": {
      "ignore": [
        "**/*.test.js",
        "**/testHelper.js"
      ]
    }
  }
}
